<!--index.html-->
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>AngularJS Basic HTTP Authentication Example</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css">
</head>
<script>
    (
function () {
    'use strict';

    angular
        .module('app', ['ngRoute', 'ngCookies'])
        .config(config)
        .run(run);

    config.$inject = ['$routeProvider', '$locationProvider'];
    function config($routeProvider, $locationProvider) {
        $routeProvider
        .when('/', {
                controller: 'LoginController',
                templateUrl: 'login.html',
                controllerAs: 'vm'
            })

            .when('/home', {
                controller: 'HomeController',
                templateUrl: 'home.html',
                controllerAs: 'vm',
            })
            .when('/register', {
                controller: 'RegisterController',
                templateUrl: 'register.html',
                controllerAs: 'vm'
            })
            .otherwise({ redirectTo: '/login' });
    }
    run.$inject = ['$rootScope'];

    function run(){
      console.clear();
    }
})()
</script>


<body>
    <div class="jumbotron">
        <div class="container">
{#          <div class="header">Registration</div>#}
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-view></div>
            </div>
        </div>
    </div>
     <form action="/registration/" method="post">
         {% csrf_token %}
    <div class="col-md-6 col-md-offset-3">
    <h4 style="text-align:center;color:blue">Register</h4>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Email</label>
            <input type="email" name="email" id="Text1" class="form-control" ng-model="vm.user.email" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Phone No.</label>
            <input type="tel" name="phone no" id="phone no" class="form-control" ng-model="vm.user.phone" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Phone No. is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgA" /> <!-- truncated line -->
            <a href="#!/" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
    <script>
        (function () {
    'use strict';

    angular
        .module('app')
        .controller('RegisterController', RegisterController);

    RegisterController.$inject = ['UserService', '$location'];
    function RegisterController(UserService, $location) {
        var vm = this;

        vm.dataLoading = false;
        vm.register = register;

        function register() {
            vm.dataLoading = true;
            UserService.create(vm.user)
                .then(function (response) {
                    if (response.success) {
                        alert('Registration successful');
                        $location.path('/');
                    } else {
                        alert(response.message);
                        vm.dataLoading = false;
                    }
            });
        }
    }
</script>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="homeController.js"></script>
    <script src="loginController.js"></script>
    <script src="registerController.js"></script>

    <script src="userService.svc.js"></script>
    <script src="authenticationService.svc.js"></script>
</body>
</html>